#the-list {
    display: flex;
    flex-flow: wrap;
}

.plugin-card {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
}

.plugin-card .plugin-card-top {
    flex: 1;
}

.plugin-card .plugin-card-bottom {
    margin-top: auto;
}

.plugin-card .ws_stars {
    display: inline-block;
}

.php-incompatible {
    padding: 12px 20px;
    background-color: #D1231B;
    color: #FFFFFF;
    border-top: 1px solid #dcdcde;
    overflow: hidden;
}

#wpbody-content .plugin-card .plugin-action-buttons a.install-now[aria-disabled="true"] {
    color: #CBB8AD !important;
    border-color: #CBB8AD !important;
}

.plugin-action-buttons {
    list-style: none !important;   
}