/* Files Download */
#files-upload {
    width: 100%; 
    padding: 3px 0;
    font-size: 1.25em;
    outline: 0; 
    margin: 0 0 3px;
}

/* Error Message */
.error_msg {
    background-color: red; 
    color: white; 
    padding: 10px; 
    border-radius: 4px; 
    clear: both; 
    margin: 10px 0; 
    font-weight: bold;
    display: block;
}   

/* Hide the permalink to the custom post */
#titlediv div.inside, .updated.notice.notice-success.is-dismissible a { 
    display: none; 
}

/* Where Used */
#erifl-where-used-list {
    list-style: square;
    padding-left: 30px;
}