#wpbody-content .wrap h2 {
    margin-top: 3rem !important;
    margin: 3rem 0 1rem 0 !important;
    font-size: 1.5em !important;
}

#example {
    display: inline-block;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#example-format {
    text-transform: uppercase;
}

textarea {
    width: 400px;
    height: 200px;
}